@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-font-family: inherit !important;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Variable.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Regular.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Medium.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Bold.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: "Satoshi", sans-serif;
  background-color: #ffffff;
  color: #0d0d0d;
}

.utxo-global-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 640px) {
  .utxo-global-container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 768px) {
  .utxo-global-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1024px) {
  .utxo-global-container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 1280px) {
  .utxo-global-container {
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media (min-width: 1440px) {
  .utxo-global-container {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

/* Animate */
.animate-shake:hover {
  animation: shake 1.2s;
}

@-webkit-keyframes shake {
  0% {
    transform: rotateY(0deg) rotateZ(0);
  }
  50% {
    transform: rotateY(20deg) rotateZ(5deg);
  }
  100% {
    transform: rotateY(0deg) rotateZ(0);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg) rotateZ(0);
  }
  50% {
    transform: rotateY(20deg) rotateZ(5deg);
  }
  100% {
    transform: rotateY(0deg) rotateZ(0);
  }
}

/* Toastify */
.Toastify__toast-container {
  max-width: 100% !important;
  width: 400px !important;
  z-index: 10000 !important;
}

@media (max-width: 768px) {
  .Toastify__toast-container {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 12px !important;
  }
}

.Toastify__toast {
  background: #f4f4f4 !important;
  border-radius: 8px;
  padding: 6px 10px !important;
}

.Toastify__toast--success .Toastify__toast-body::before {
  content: "Success";
  font-size: 24px;
  font-weight: 500;
  color: #09c148;
}

.Toastify__toast--error .Toastify__toast-body::before {
  content: "Error";
  font-size: 24px;
  font-weight: 500;
  color: #ff3333;
}

.Toastify__toast--info .Toastify__toast-body::before {
  content: "Info";
  font-size: 24px;
  font-weight: 500;
  color: #004ce8;
}

.Toastify__toast--warning .Toastify__toast-body::before {
  content: "Warning";
  font-size: 24px;
  font-weight: 500;
  color: #f2b137;
}

.Toastify__toast-body {
  display: grid !important;
  grid-gap: 4px;
  padding: 0 0 0 51px !important;
  color: #0d0d0d;
  font-size: 16px;
  position: relative;
}

.Toastify__toast-icon {
  position: absolute;
  left: 0;
  top: 7.75px !important;
}

.Toastify__toast-icon > svg {
  display: none;
}

.Toastify__toast--success .Toastify__toast-icon {
  content: "";
  width: 31px !important;
  height: 31px !important;
  background-image: url("/icons/icn-success.svg");
  background-size: cover;
}

.Toastify__toast--error .Toastify__toast-icon {
  content: "";
  width: 31px !important;
  height: 31px !important;
  background-image: url("/icons/icn-error.svg");
  background-size: cover;
}

.Toastify__toast--info .Toastify__toast-icon {
  content: "";
  width: 31px !important;
  height: 31px !important;
  background-image: url("/icons/icn-info.svg");
  background-size: cover;
}

.Toastify__toast--warning .Toastify__toast-icon {
  content: "";
  width: 31px !important;
  height: 31px !important;
  background-image: url("/icons/icn-warning.svg");
  background-size: cover;
}

.Toastify__close-button {
  color: #0D0D0D !important;
}
